span {
    font-style: italic;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {font-stretch: condensed;}

img {
    display: block;
  max-width: 100%;
}

body {
    background-image: url("AdobeStock_181375448.jpeg");
    background-color: #cccccc;
   }
   